<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!-- KAKAO MAP API-->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=80884d57c9dfbcf36cb408aef9c37196"></script>
<script src="/js/kakaoMap.js" defer></script>
<body>
<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <section>
                <header class="main">
                    <h1 th:text="${detail.title}"></h1>
                </header>
                <!--Content-->
                <h4 th:text="${detail.overview}"></h4>
                <a href="#" class="image"><img th:src="${detail.firstimage}" alt=""></a>
                <div th:text="${detail.homepage}"></div>
                <div id="map" style="width:500px;height:400px;"></div>
            </section>
        </div>
    </div>
</div>
</body>
</html>