<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../assets/css/main.css" />
    <script src="/js/home.js" defer></script>
</head>
<body>
<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <div class="inner">

            <section>
                <header class="major">
                    <h2>등록가능한 발도장(반경 5km 이내)</h2>
                </header>
                <div class="posts">
                    <article th:each="stamp : ${registerableStamp}" >
                        <div th:contentId="${stamp.contentid}"
                             th:onclick="|location.href='@{/search/detailContent(contentId=${stamp.contentid})}'|">
                            <a href="#" class="image"><img th:src="${stamp.firstimage}" alt=""></a>
                            <h3 th:text="${stamp.title}"></h3>
                            <p th:text="${stamp.addr1}"></p>
                            <ul class="actions">
                                <li><a href="#" class="button">등록</a></li>
                            </ul>
                        </div>
                    </article>
                </div>
            </section>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>