<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../assets/css/main.css" />
</head>
<body>
<div class="container">
    <div>
        <table id="userTable">
            <thead>
            <tr>
                <th>관광지명</th>
                <th>주소</th>
                <th>상세주소</th>
                <th>썸네일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="spot : ${touristSpotList}">
                <td th:text="${spot.title}">title</td>
                <td th:text="${spot.addr1}">주소</td>
                <td th:text="${spot.addr2}">상세주소</td>
                <td><img th:src="${spot.firstimage}">썸네일</img></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>